LOYVERSE_TOKEN=your_loyverse_token_here
GOOGLE_WALLET_ISSUER_ID=your_google_wallet_issuer_id_here
GOOGLE_WALLET_SERVICE_ACCOUNT_EMAIL=your_service_account_email_here
GOOGLE_WALLET_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_PRIVATE_KEY_HERE\n-----END PRIVATE KEY-----"
PORT=5000
